body {
  color: #212121;
  font-size: 16px;
  font-family: "Roboto", "Raleway", sans-serif;
}
.lista a {
  font-weight: 500;
  color: #212121;
  font-size: 14px;
  text-decoration: none;
  line-height: 1.1;
  letter-spacing: 0.02em;
  list-style: none;
}

.lista {
  list-style: none;
}
.lista-link:hover {
  color: #2196f3;
}
.lista-link:focus {
  color: #2196f3;
}
