* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --first: #ececec;
  --blue: #2196f3;
  --dark: #212121;
  --black: #000000;
  --grey: #757575;
  --white: #ffffff;
  --second: #2f303a;
  --third: #f5f4fa;
  --fourth: #eeeeee;
}

body {
  width: 1600px;
  color: var(--dark);

  font-size: 16px;
  font-family: "Roboto", "Raleway", sans-serif;
}
.lista a {
  font-weight: 500;
  color: #212121;
  font-size: 14px;
  text-decoration: none;
  line-height: 1.1;
  letter-spacing: 0.02em;
  list-style: none;
}

.lista {
  display: flex;
  padding-left: 93px;
  list-style: none;
}
.lista-link {
  padding-right: 46px;
}
.lista-link:hover {
  color: #2196f3;
}
.lista-link:focus {
  color: #2196f3;
}
.lista-link-adr:hover {
  color: #2196f3;
}
.lista-link-adr {
  padding-left: 50px;
}
.adrlista {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  list-style: none;
  display: flex;
  padding-left: 275px;
}
.adrlista a {
  font-weight: 500;
  color: var(--grey);
  text-decoration: none;
  font-size: 14px;
}
.webstudio {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--blue);
}
.studio {
  color: var(--black);
}
.logo {
  padding: 94px;
  background-color: var(--second);
  text-align: center;
}
.tittle {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  border-radius: 0px;
  margin-bottom: 30px;
  padding-top: 104px;
}
.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.85;
  letter-spacing: 0.06em;
  color: var(--white);
  background-color: var(--blue);
  cursor: pointer;
  background: var(--blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-left: 42px;
  padding-right: 41px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 114px;
  border: none;
}
.paragraph {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark);
}
.describtion {
  color: var(--grey);
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.5;
  padding-top: 10px;
  text-transform: none;
}
.opis {
  list-style: none;
  display: flex;
  gap: 30px;
}
.opis3 {
  font-size: 36px;
  line-height: 1, 17;
  padding-bottom: 50px;
  text-align: center;
}
.opis2 {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.jobphoto {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.teamphoto {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.03em;
  text-align: center;
  padding-top: 30px;
}
.workplace {
  color: var(--grey);
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-transform: none;
  text-align: center;
  padding-bottom: 30px;
}
.foot {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  padding: 60px;
  background: var(--second);
}
.adr {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.adr a {
  font-weight: 500;
  color: var(--grey);
  text-decoration: none;
  font-size: 14px;
}
.clickbutton {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  background: var(--third);
  border-radius: 4px;
  margin-left: 8px;
  border-style: none;
  padding: 6px 22px;
}
.but {
  list-style: none;
  display: flex;
  justify-content: center;
}
.but button:hover {
  color: #ffffff;
  background-color: #2196f3;

  cursor: pointer;
}
.lista-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.name2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;
  text-align: left;
  color: #212121;
  border-left: 1px solid var(--fourth);
  border-right: 1px solid var(--fourth);
  border-bottom: 1px solid var(--fourth);
  padding: 20px 24px;
}
.about {
  color: var(--grey);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  padding-top: 8px;
}
.borderbottom {
  border-bottom: 1px solid #ececec;
}
.headerpage {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
  justify-content: left;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
/*(under logo) chage for section ... .section-text {
  padding-top: 94px;
} */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-team {
  padding: 94px;
  background: var(--third);
}
.photo {
  background: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-top: 47px;
}
.footer-adres {
  list-style: none;
}
.ouradres {
  padding-top: 20px;
}
.mailtel {
  padding-top: 9px;
}
.tlo {
  padding: 94px;
}
.discr-photo {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.img {
  display: flex;
  margin-top: 56px;
  background: var(--white);
}
.img-name {
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--dark);
}
